body{
    font-family: sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    overflow: auto;
    /* background-color: lightgray; */
}

span:hover, h1:hover, h2:hover{
    color: rgb(44, 44, 44);
}

a:link{
    text-decoration: none;
    color:crimson;
}

.navbar{
    display: flex;
    align-items: stretch;
    background-color: white;
    padding: 0 5vh;
}

.nav-button{
    text-decoration: none;
    color: black !important;
    line-height: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
}

.nav-button:hover{
    /* transition: 5ms; */
    background-color: #1694dd;
    color: white !important;
}

.bodito{
    padding: 8vh 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

/* Mos nema da treba ovoa */
.bodito>h1{
    display: block;
    width: 100%;
    height: fit-content;
    text-align: center;
}
/* ===================== */

.kartickata{
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    padding: 0 10px;
    margin-bottom: 30px;
    margin-right: 40px;
    border-radius: 0.6cm;
    background-color: white;
}

.kartickata:hover{
    filter: saturate(120%);
}

p{
    margin-top: 0;
    padding: 0 5px;
}

.left-info{
    /* display: inline-block; */
    flex: 1;
    width: 30%;
    font-weight: bold;
}

.right-info{
    margin-left: 100px;
    width: 55%;
    margin: 0;
}

.content{
    display: inline-block;
    overflow-y: hidden;
    overflow-x: visible;
    width: max(650px, 70%);
    min-width: 400px;
    border-radius: 0.6cm;
    height: 300px;
    background-color: white; 
}

.naslov{
    height: 40px;
    border-bottom: 1px solid gray; 
    width: 100%;
}

.biografija{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    border-radius: 0.6cm;
    height: 100%;
    background-color: white;
}

.vtoro{
    width: 30%;
    margin-left: 12px;
}

.chart{
    height: 28px;
    margin-bottom: 7px;
    /* padding-left: 20px; */
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: blueviolet;
}
